*{
    margin: 0pt;
    font-size: 0pt;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-size: 20pt;
    color: black;
}
nav-bar{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80pt;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    position: fixed;
    background-color: palegreen;
    height: 100pt;
    width: 100pt;
    width: 100%;
    border: solid black 2pt;
    top: 0pt;
    
}
p{
    margin: 0pt;
    margin-bottom: 18pt;
    line-height: 10pt;
}
.head{
    text-align: center;
    
}
.headerobjectswrapper{

}
.subhead{
    text-transform: uppercase;
    text-align: center;
    position: relative;
    border-bottom: 2pt solid black;
    border-top: 2pt solid black;
    padding: 12pt 0 12pt 0;
    font-size: 12pt;
    color: black;
    margin: 100pt 0pt 0pt 0pt;
}
.headline{
    text-align: center;
    line-height: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    margin: 0pt;
    color: black;
    font-size: 25pt;
}
p{
    font-size: 19pt;
    color: black;
    margin: 30pt;
    line-height: 15pt;
}
.h1{
    font-size: 38pt;
    font-style: italic;
    box-sizing: border-box;
    padding: 2pt;
}
.h2{
    font-size: 15pt;
    box-sizing: border-box;
    padding: 2pt;
}
.h3{
    font-size: 38pt;
    font-style: italic;
    box-sizing: border-box;
    padding: 2pt;
}
.h4{
    font-size: 15pt;
    box-sizing: border-box;
    padding: 2pt;
}

img{
    height: 300pt;
    width: 500pt;
    float: left;
    padding: 10pt;
}
@media (max-width: 623px) {

}