*{
    margin: 0;
    font-size: 0;
}

header{
    background: #35424A;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: magenta 3px solid;
}

header .hightlight, header .current a{
    color: magenta;
    font-weight: bold;
}