.a1{
    background-color: palegreen;
}
.a2{
    background-color: blue;
}
.a3{
    background-color: green;
}
.a4{
    background-color: darkorchid;
}
.a5{
    background-color: lightslategray;
}

.b1{
    background-color: palegreen;
}
.b2{
    background-color: blue;
}
.b3{
    background-color: green;
}
.b4{
    background-color: darkorchid;
}
.b5{
    background-color: darkorchid;
}

.c1{
    background-color: palegreen;
    text-align: 
}
.c2{
    background-color: blue;
}
.c3{
    background-color: green;
}
.c4{
    background-color: darkorchid;
}
.c5{
    background-color: paleturquoise;
}